$table-bg: #ffffff;
$thead-bg: #dba858;
$thead-border: #ddd;
$tbody-border: #eee;
$border-color: #ddd;
$font-size: 1rem;
$header-font-size: 1.125rem;
$text-color: #333;
$tbody-bg: #f9f9f9;

table {
  width: 60%;
  border-collapse: collapse;
  font-size: $font-size;
  color: $text-color;
  margin: 0 auto;
  border-radius: 8px;

  thead {
    background-color: $thead-bg;
    border-bottom: 2px solid $thead-border;

    th {
      padding: 0.75rem;
      text-align: left;
      font-size: $header-font-size;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $tbody-border;
      background-color: $tbody-bg;

      td {
        padding: 0.75rem;
        border-right: 1px solid $border-color;
        background-color: $tbody-bg;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
