
<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
  <div *ngIf="!isEditMode" class="header">
    <h2>Form User</h2>
  </div>
  <div *ngIf="isEditMode" class="header">
    <h2>Details User</h2>
  </div>
  <div>
    <label for="name">Name:</label>
    <input id="name" formControlName="name" />
    <label
      class="validation-error"
      *ngIf="
      addUserForm.get('name')?.errors?.['required'] &&
      addUserForm.get('name')?.touched
    "
    >
      required cannot be empty
    </label>
    <label
      class="validation-error"
      *ngIf="
    addUserForm.get('name')?.errors?.['minlength'] &&
    addUserForm.get('name')?.touched
  "
    >
      must more than 3
    </label>
  </div>

  <div>
    <label for="email">email :</label>
    <input id="email" formControlName="email" />
    <label
      class="validation-error"
      *ngIf="
  addUserForm.get('email')?.errors?.['required'] &&
  addUserForm.get('email')?.touched
"
    >
      email required cannot be empty
    </label>
    <label
      class="validation-error"
      *ngIf="
addUserForm.get('email')?.errors?.['email'] &&
addUserForm.get('email')?.touched
"
    >
      email not valid
    </label>
  </div>

  <div>
    <label for="username">username :</label>
    <input id="username" formControlName="username" />
    <label
      class="validation-error"
      *ngIf="
  addUserForm.get('username')?.errors?.['required'] &&
  addUserForm.get('username')?.touched
"
    >
      username required cannot be empty
    </label>
  </div>

  <div>
    <label for="basicSalary">Salary :</label>
    <input id="basicSalary" formControlName="basicSalary" />
    <label
      class="validation-error"
      *ngIf="
  addUserForm.get('basicSalary')?.errors?.['required'] &&
  addUserForm.get('basicSalary')?.touched
"
    >
      Salary required cannot be empty
    </label>
  </div>

  <div>
    <label for="paymentDeadline">payment date :</label>
    <input id="paymentDeadline" formControlName="paymentDeadline" type="date" />
    <label
      class="validation-error"
      *ngIf="
  addUserForm.get('paymentDeadline')?.errors?.['required'] &&
  addUserForm.get('paymentDeadline')?.touched
"
    >
      date required cannot be empty
    </label>
  </div>

  <div>
    <label for="zipcode">Zipcode:</label>
    <input id="zipcode" formControlName="zipcode" />
    <label
      class="validation-error"
      *ngIf="
  addUserForm.get('zipcode')?.errors?.['required'] &&
  addUserForm.get('zipcode')?.touched
"
    >
      zipcode required cannot be empty
    </label>
  </div>

  <div>
    <label for="province">Province:</label>
    <input id="province" formControlName="province" />
    <label
      class="validation-error"
      *ngIf="
addUserForm.get('province')?.errors?.['required'] &&
addUserForm.get('province')?.touched
"
    >
      province required cannot be empty
    </label>
  </div>

  <div>
    <label for="city">City:</label>
    <input id="city" formControlName="city" /><label
      class="validation-error"
      *ngIf="
addUserForm.get('city')?.errors?.['required'] &&
addUserForm.get('city')?.touched
"
    >
      province required cannot be empty
    </label>
  </div>

  <div *ngIf="!isEditMode">
    <button type="submit" [disabled]="addUserForm.invalid">add user</button>
  </div>
  <div *ngIf="isEditMode">
    <button type="submit" [disabled]="addUserForm.invalid">edit user</button>
  </div>
</form>
