<h1>Tabel User</h1>
<div>
  <button (click)="goToForm()" class="button-add">Add User</button>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>username</th>
      <th>salary</th>
      <th>Address</th>
      <th>Payment Date</th>
      <th>Action</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let user of dataUser"
      [ngClass]="{
        strikethrough: user.isChecked,
      }"
    >
      <td (click)="goToCreateForm(user.id)">{{ user.id }}</td>
      <td (click)="goToCreateForm(user.id)">{{ user.name }}</td>
      <td (click)="goToCreateForm(user.id)">{{ user.email }}</td>
      <td (click)="goToCreateForm(user.id)">{{ user.username }}</td>
      <td (click)="goToCreateForm(user.id)">{{ user.basicSalary }}</td>
      <td (click)="goToCreateForm(user.id)">
        {{ user.province }}, {{ user.city }},
        {{ user.zipcode }}
      </td>
      <td>{{ user.paymentDeadline | date }}</td>
      <td>
        <button (click)="deleteUser(user.id)" class="button-delete">
          <img src="https://img.icons8.com/?size=48&id=7837&format=png" />
        </button>
      </td>
      <td>
        <input
          type="checkbox"
          [(ngModel)]="user.isChecked"
          (change)="updateUser(user.id, user)"
        />
      </td>
    </tr>
  </tbody>

  <tbody *ngIf="isLoading" class="fullrow">
    <tr>
      <td colspan="6" class="no-data">loading</td>
    </tr>
  </tbody>

  <tbody *ngIf="dataUser.length === 0 && !isLoading" class="fullrow">
    <tr>
      <td colspan="6" class="no-data">No data available</td>
    </tr>
  </tbody>
</table>
