$table-bg: #ffffff;
$thead-bg: #56ddd2;
$thead-border: #ddd;
$tbody-border: #eee;
$border-color: #ddd;
$font-size: 1rem;
$header-font-size: 1.125rem;
$text-color: #333;
$tbody-bg: #f9f9f9;

.highlight {
  background-color: red !important;
  color: white;
}

img {
  width: 20px;
  height: 20px;
}

h1 {
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
}

div {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

table {
  width: 60%;
  border-collapse: collapse;
  font-size: $font-size;
  color: $text-color;
  margin: 0 auto;
  border-radius: 8px;

  thead {
    background-color: $thead-bg;
    border-bottom: 2px solid $thead-border;

    th {
      padding: 0.75rem;
      text-align: left;
      font-size: $header-font-size;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $tbody-border;
      background-color: $tbody-bg;
      width: 100%;

      td {
        padding: 0.75rem;
        border-right: 1px solid $border-color;

        &:last-child {
          border-right: none;
        }
      }
      &:hover {
        background-color: darken($tbody-bg, 10%);
      }
    }
  }
}

.strikethrough {
  text-decoration: line-through;
}

.no-data {
  text-align: center;
  color: #888;
  font-style: italic;
  padding: 20px;
  background-color: transparent;
}

.button-add {
  appearance: button;
  display: block;
  background-color: $thead-bg;
  border-radius: 6px;
  border-width: 0;
  text-decoration: solid;
  cursor: pointer;
  height: 44px;
  line-height: 1.15;
  outline: none;
  padding: 0 25px;
  margin-top: 20px;
  text-align: center;
  text-transform: none;
  margin-left: auto;
  font-weight: bold;
}

.button-add:hover {
  background-color: darken($thead-bg, 10%);
  transform: scale(1.05);
}

.button-delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-delete:hover {
  transform: scale(1.2);
}

.fullrow {
  width: 100%;
  background-color: transparent;
  color: white;
}
